<% if @view_in_config && @erb_code %>
  <%= render inline: @erb_code %>
<% else %>
<h4><%=@title%></h4>
<%= simple_form_for(@request) do |f| %>    
 
  <%= f.input :task_name, :label => 'Task Name', :readonly => true, :input_html => {:value => eval(TaskRequestx.task_name_in_edit.to_s)}%>
  <%= f.input :name, :label => 'Request Name', :readonly => readonly?(@request, 'name') %>
  <%= f.input :request_date, :label => 'Request Date', :as => :string, :readonly => readonly?(@request, 'request_date') %>
  <%= f.input :requested_by_name, :label => 'Requested By', :readonly => true, :input_html => {:value => @request.requested_by.name} %>
  <%= f.input :request_content, :label => 'Request Content', :input_html => {:rows => 3}, :readonly => readonly?(@request, 'request_content') %>
  <%= f.input :expected_finish_date, :label => 'Finish Date', :as => :string, :readonly => readonly?(@request, 'expected_finish_date') %> 
  <%= f.input :request_status_id, :label => 'Request Status', :collection => Commonx::CommonxHelper.return_misc_definitions('task_status') %> 
  <%= f.input :expedite, :label => 'Expedite', :as => :boolean unless readonly?(@request, 'expedite') %>
  <%= f.input :expedite_noupdate, :label => 'Expedite', :input_html => {:value => (@request.expedite ? t('Yes') : t('No'))} if readonly?(@request, 'expedite') %>
  <%= f.input :need_delivery, :label => 'Need Delivery', :as => :boolean unless readonly?(@request, 'need_delivery') %>
  <%= f.input :need_delivery_noupdate, :label => 'Need Delivery', :input_html => {:value => (@request.need_delivery ? t('Yes') : t('No'))} if readonly?(@request, 'need_delivery') %>
  <div id="task_request_delivery_info">
  <%= f.input :what_to_deliver, :label => 'What to Deliver', :input_html => {:rows => 4}, :readonly => readonly?(@request, 'what_to_deliver') %>
  <%= f.input :delivery_instruction, :label => 'Delivery Instruction', :input_html => {:rows => 4}, :readonly => readonly?(@request, 'delivery_instruction') %>
  </div>
  <%= f.input :cancelled, :label => 'Cancelled', :as => :boolean unless readonly?(@request, 'cancelled') %>
  <%= f.input :cancelled_noupdate, :label => 'Cancelled', :input_html => {:value => (@request.cancelled ? t('Yes') : t('No'))} if readonly?(@request, 'cancelled') %>
  <%= f.input :completed, :label => 'Completed', :as => :boolean unless readonly?(@request, 'completed') %>
  <%= f.input :completed_noupdate, :label => 'Completed', :input_html => {:value => (@request.completed ? t('Yes') : t('No'))} if readonly?(@request, 'completed') %>
  
  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  <%= f.button :submit, t('Save'), :class => BUTTONS_CLS['action'] %>  
<% end %> 
<% end %>
